<div class="event">
  <div class="event-header">
    <h4>{{ event.name }}</h4>
  </div>

  <div class="event-details">
    <div>Date: {{ event.date }}</div>
    <div>Time:{{ event.time }}</div>
    <div>Price:{{ event.price }}</div>
    <div>
      Location:
      {{
        event.location.address +
          ", " +
          event.location.city +
          ", " +
          event.location.country
      }}
    </div>
  </div>

  <div class="event-footer">
    <button (click)="handleClick()">Click me!</button>
  </div>
</div>
